@font-face{
  font-family:'mozart';
  src:url('mozart.woff');
}

#console-container{
  width:1156px;
  height:1008px;
  position:relative;
}

#console-overlay{
  background:url('crt.png');
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:2;
  pointer-events:none;
}

#console{
  position:absolute;
  z-index:1;
  width:600px;
  height:400px;
  left:255px;
  top:75px;
  background:#000;
  color:white;
  font-family:mozart;
  font-size:18px;
  padding:20px;
}

#user-prompt{
  padding-top:10px;
  margin-top:10px;
  border-top:1px solid white;
}

#display-container{
  overflow:hidden;
}

#display{
  overflow-y:scroll;
  max-height:360px;
  width:615px;
}

/* Colours */
.blue{
  color:#00ccff;
}
.yellow{
  color:#ffff00;
}
.red{
  color:#f00;
}
.green{
  color:#0f0;
}

/* typography */
h1,h2,h3,h4,p{
  font-size:18px;
  margin:0;
  padding:0;
  display:inline-block;
  margin-bottom:8px;
}

h1{
  padding:4px;
  margin:4px;
  border:2px solid white;
  box-shadow:4px 4px 0px grey;
  margin-bottom:8px;
}

p{
  margin-left:4px;
  padding-left:4px;
  border-left:2px solid white;
}

hr{
  color:white;
}

/* Tables */
table{
  border-spacing:0;
  border:1px solid white;
}
td,th{
  border:1px solid white;
  text-align:left;
  padding:5px;
  margin:0;
}
th{
  color:#ffff00;
}